@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-active-state: hsla(178, 100%, 50%, 50%);
  --clr-main-bg: hsl(217, 54%, 11%);
  --clr-card-bg: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 10px;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: var(--white);
}

.main {
  min-height: 100vh;
  display: flex;
  background-color: var(--clr-main-bg);
}

.card {
  max-width: 33rem;
  margin: auto;
  padding: 2.5rem;
  background-color: var(--clr-card-bg);
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transform: scale(1);
  transition: all 0.4s ease;
}

.img-wrapper {
  display: block;
  position: relative;
}

.img-wrapper::before {
  content: url("../images/icon-view.svg");
  position: absolute;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--cyan-active-state);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card__img {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
}

.card__title {
  color: var(--white);
  font-size: 2.2rem;
  margin-top: 1.8rem;
  transition: color 0.3s ease-in-out;
}

.card__description {
  color: var(--soft-blue);
  margin-block: 1.5rem;
  line-height: 1.6;
}

.card__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.5rem;
}

.icon__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
}
.eth-desc {
  color: var(--cyan);
  font-weight: 600;
}

.clock-desc {
  color: var(--soft-blue);
  font-weight: 400;
}

.card__creator {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  border-top: 1px solid var(--clr-line);
  padding-top: 1.5rem;
}

.avatar {
  max-width: 3.5rem;
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.creator {
  color: var(--soft-blue);
}

.creator__name {
  color: var(--white);
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.attribution {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: var(--soft-blue);
}
.attribution a {
  color: var(--white);
}
/* Active State */
.card:hover {
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 8px;
}

.img-wrapper:hover::before {
  opacity: 1;
}

.card__title:hover {
  color: var(--cyan);
}

.creator__name:hover {
  color: var(--cyan);
}

/* Dekstop Responsive Design : 1440px */
@media only screen and (min-width: 1440px) {
  .card {
    max-width: 35rem;
  }
  .card__description {
    margin-block: 1.8rem;
    font-size: 1.8rem;
  }
  .card__icon {
    margin-block: 2rem;
  }
}
