@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 10px;
}

p {
    font-size: 1.8rem;
}

.main {
    min-height: 100vh;
    display: flex;
    background-color: var(--clr-main-bg);
}

.card {
    height: 54.5rem;
    width: 33rem;
    margin: auto;
    padding: 2.5rem;
    background-color: var(--clr-card-bg);
}

.card__img {
    width: 100%;
}

.card__title {
    color: var(--white);
}

.card__description {
    color: var(--soft-blue);
}

.card__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-line);
}

.eth-desc {
    color: var(--cyan);
}

.clock-desc {
    color: var(--soft-blue);
}

.card__creator {
    display: flex;
    align-items: center;
}

.avatar {
    width: 25%;
}

.creator {
    color: var(--soft-blue);
}

.creator__name {
    color: var(--white);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
